<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>DoodleMe</servlet-name>
		<servlet-class>com.monadpad.doodleme.DoodleMeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoodleMe</servlet-name>
		<url-pattern>/d</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoovlesServlet</servlet-name>
		<servlet-class>com.monadpad.doodleme.MoovlesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoovlesServlet</servlet-name>
		<url-pattern>/m</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AnimationServlet</servlet-name>
		<servlet-class>com.monadpad.doodleme.AnimationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnimationServlet</servlet-name>
		<url-pattern>/a</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AnimationHelperServlet</servlet-name>
		<servlet-class>com.monadpad.doodleme.AnimationHelperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnimationHelperServlet</servlet-name>
		<url-pattern>/ahelp</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.monadpad.doodleme.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>d.jsp</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>